<script type="text/javascript" src="scripts/js/jquery-ui-min.js"></script>
<div class="modal-body" ng-show="ngShowModalConfigure" style="height: 750px; overflow-y: auto;padding: 0 !important;">
  <fieldset>
<div class="container-fluid">
  <div class="row header" style="background-color: #25467a;height: 60px;">
    <p class="modal-title text-center" style="color: #fff;font-size: 20px;">
      <span style="font-size: 25px">{{deviceType |capitalize}}</span><br>
      Configure Fields
    </p>
    <i class="fa fa-times" aria-hidden="true" style="font-size: 20px; margin-top: -9%;margin-right: 3%;color: #fff !important;float: right;" ng-click="dismissPopup()"></i>
  </div>
 <div class="row" style="margin-top: 3%">
   <loading></loading>
   <span style="color:#5392ff;margin-left: 2%"><i>*Drag and Drop Items to Reorder</i></span>
  <!-- <button class="exportbtn"  data-ng-disabled="!enabledButton" ng-click="updatefields(x)">Configure</button>
   <button style="font-size:16px; width: 100px;color: #FFF;background-color: #949394" ng-click="dismissPopup()" >Cancel </button>-->
   <!--<loading></loading>-->
   <div class="col-md-12">
     <div class="col-md-8" style="padding-left: 15px !important;padding-right: 15px !important;margin-top: 4%;">
       <table class="table table-striped" style="margin-top: 5%">
         <tr>
           <td> <b>Select All</b></td>
           <td style="width: 20px;" ng-class="{'selected': model.selectedAll, 'default': !model.selectedAll}">
             <input style="float: right" type="checkbox"
                    ng-model="model.selectedAll"
                    ng-change="selectAll(fieldData)"/>
           </td>
         </tr>
       </table>
       <table class="table table-striped">
         <thead>
         <tr>
           <td><b>Select</b></td>
           <td style="width: 20px"></td>
         </tr>
         </thead>
         <tbody id="sortable" ui-sortable="sortableOptions" ng-model="fieldData"ui-sortable-update="callBackFunction1" >
         <tr ng-repeat="x in fieldData track by $index" ng-class="{'selected': x.selected, 'default': !x.selected}">


           <td  class="unsortable" ng-if="x.fieldname == 'Name'" style="width: 30px !important;">{{x.fieldname}}</td>
           <td  class="unsortable" ng-if="x.fieldname == 'Name'" style="width: 20px !important;">
             <input type="checkbox" ng-checked="true" ng-disabled="x.fieldname == 'Name'"  ng-change="checkIfNameSelected(fieldData,x.fieldname)" ng-model="x.Selected">
           </td>
           <td ng-if="x.fieldname !== 'Name'" style="width: 30px !important;">{{x.fieldname}}</td>
           <td ng-if="x.fieldname !== 'Name'" style="width: 20px !important;">
             <input type="checkbox" ng-change="checkIfAllSelected(fieldData)" ng-model="x.Selected">
           </td>
         </tr>
         </tbody>
       </table>
     </div>
     <div class="col-md-4" style="padding-left: 15px !important;padding-right: 15px !important;margin-top: 3%">
        <div>
       <button class="exportbtn" class="shiftbtn" style="margin-top: 19%" data-ng-disabled="!enabledButton" ng-click="updatefields(x)" >Configure</button>
        </div>
       <br>
       <div>
       <button class="shiftbtn"style="font-size:16px; width: 100px;color: #FFF;background-color: #949394" ng-click="dismissPopup()" >Cancel </button>
       </div>
       <br>
       <!--<div>
         <button data-ng-disabled="!disableShiftBtn" class="shiftbtn" style="margin-top: 19%" ng-click="moveUp(fieldData)" >Up</button>
       </div>
       <br>
       <div>
         <button data-ng-disabled="!disableShiftBtn" class="shiftbtn" ng-click="moveDown(fieldData)" >Down</button>
       </div>
       <br>
       <div>
         <button data-ng-disabled="!disableShiftBtn" class="shiftbtn"  ng-click="moveTop(fieldData)" >Top</button>
       </div> <br>
       <div>
         <button data-ng-disabled="!disableShiftBtn" class="shiftbtn" ng-click="moveBottom(fieldData)" >Bottom</button>
       </div>-->
     </div>
   </div>
   <div class="col-md-12" style="margin-bottom: 2%;margin-top: 2%;">
     <!--<button class="exportbtn"  data-ng-disabled="!enabledButton" ng-click="updatefields(x)" >Configure</button>
     <button style="font-size:16px; width: 100px;color: #FFF;background-color: #949394" ng-click="dismissPopup()" >Cancel </button>-->
   </div>
 </div>
</div>
  </fieldset>
    </div>
  <style>
  .app-modal-window-sam-Plan  .modal-dialog{
    width:500px;
  }

  .modal-content{
    width: 60%; !important;
    border-radius: 0px !important;
  }

  /*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    border-top: none !important;

  }
  .table{
    margin-bottom: 0px !important;
  }*/

  .table{
    margin-bottom: 0px !important;
    border-top: none !important;
  }
  .exportbtn{
    font-size:16px;
   /* margin-left: 30% ;*/
    width: 100px;
    color: #FFF;
    background-color: #5392ff;
  }

  .exportbtn[disabled] {
    background-color: 	#ADD8E6
  }

  .shiftbtn{
    font-size:16px;
    width: 100px;
    color: #FFF;
    background-color: #5392ff;
    /*margin-left: 22%;*/

  }
  .shiftbtn[disabled] {
    background-color: 	#ADD8E6
  }

  /*.modal-dialog{
    top: -12% !important;
  }*/



</style>
<script>
 /* $(function(){
   /!* $('.unsortable').sortable().cancel();*!/
    $(".unsortable tbody").sortable().disableSelection();
  })*/
 $( "#sortable" ).sortable({
   start: function(event, ui) {
     ui.item.startPos = 1;
   },
   stop: function(event, ui) {
     console.log("Start position: " + ui.item.startPos);
     console.log("New position: " + ui.item.index());
   }
 });
</script>