
#header {
}

#header_login {
    height: 32px;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #424242;
    margin-left: 10px;
    line-height: normal;
    margin-top: 10px;
}

.text_field {
    top: 0px;
    height: 25px;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    width: 230px;
    margin-left: 30px;
}

.label_field {
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #000000;
    text-align: left;
    line-height: normal;
    margin-left: 30px;
}

.label_field_name {
    margin-top: 50px;
}

.label_field_password {
    margin-top: 7px;
}

#container, #footer {
    margin: auto;
}

    #container div {
    }

.security_note_label_row {
    margin-top: 35px;
}

.security_note_label {
    margin-left: 35px;
    margin-bottom: 0px !important;
    height: 19px;
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #424242;
}

.security_note {
    margin-left: 35px;
}

.container_padding {
    /*padding-left: 15px;*/
}

.sign_in_row {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.sign_in_row_magin {
    margin-left: 20px;
    padding-top:30px;
}

#footer {
}

    #footer span {
        height: 38px;
        font-family: 'Helvetica';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #424242;
    }

.first_child {
    font-family: 'Helvetica Bold', 'Helvetica';
    font-weight: 700 !important;
}

.warning {
    border: solid 1px red;
}

#loading {
}

    #loading img {
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
    }


.login-errorMsg {
    color: red;
    font-weight: bold;
    padding-left: 25px;
}