/*------------------------------------------------------Start: Container CSS------------------------------------------------*/
body {
    height: 100%;
}

#container {
    padding-top: 44px;
    padding-bottom: 80px;
}

.fixfixed .container #header, 
.fixfixed .container #footer { 
    position: absolute; 
} 

#u9 {
    font-family: 'Roboto Regular', 'Roboto';
    font-size: 16px;
    margin-top: 20px;
    color: #5A6673;
}

#u10 {
    font-family: 'Roboto Regular', 'Roboto';
    font-size: 16px;
    color: #5A6673;
}

.textarea {
    width: 100%;
    height: 165px;
    font-family: 'Arial Regular', 'Arial';
    font-size: 13px;
    margin-top: 2px;
    text-align: left;
    resize: none;
}

.create_complaint_button {
    width: 180px;
    height: 45px;
    margin-top: 2px;
    margin: 0 auto;
}

.create_complaint_button_Text {
    font-family: 'Roboto Medium', 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #1bbc9c;
    border: transparent;
    min-width: 180px;
    min-height: 45px;
    margin: 0 auto;
}

.button_height {
        text-align: center;
}

.imp-text {
    font-size: 18px;
    text-align: center;
    position: relative;
}
/*------------------------End: Container Middle CSS------------------------*/
/*------------------------------------------------------End: Container CSS------------------------------------------------*/
