    <div style="margin-bottom: 28px;background-color: white;">
         <div class="row" style="width: 100%;margin-top:1px; margin-left: 30px;">
             <div class="col-md-3">
               <img src="img/ibmlogonew.png" style=""/>
             </div>
            <div class="col-md-3">

             </div>


             <div class="col-md-5">
               <img alt="" src="img/loginLogo.png">
                <a  style="color:#5392ff; font-size:14px; margin-right: 7px; font: Helvetica neue regular;">{{globals.currentUser.username}} &nbsp;&nbsp;<b>&or;</b> </a>&nbsp;&nbsp;
                <a style="color: #949394; font-size:14px; margin-right: 7px; font: Helvetica neue regular;">Architect</a>&nbsp;&nbsp;
                <a  href="#logout#/" style="color:#5392ff;  font-size:14px; margin-right: 7px; font: Helvetica neue regular;">Logout</a>

             </div >
             <div class="col-md-1">
             <div style="width: 30px; height: 5px;background-color: #949394;margin: 1px 0;"></div>
                <div style="width: 30px; height: 5px;background-color: #949394;margin: 2px 0;"></div>
                 <div style="width: 30px; height: 5px;background-color: #949394;margin: 1px 0;"></div>
                 <div style="width: 30px; height: 5px;background-color: #949394;margin: 2px 0;"></div>


             </div>
          </div>
         <br/>
		 <br/>

        <div class="row" style="width: 100%;margin-top:1px; margin-left: 30px;">
          <div  class="tab">
          <div class="col-md-1">
		  <a href="index.html#/"> <img alt="" src="img/homeicon.png"></a>
           
           </div>

            <div  class="col-md-2">
               <a  style =" color: #949394; font: Helvetica Normal regular; font-size: 16px" >Import <b>&or;</b></a>

            </div>
            <div  class="col-md-2">
              <a  style =" color: #949394; font: Helvetica Normal regular; font-size: 16px">Export <b>&or;</b></a>

            </div>
            <div class="col-md-2">
               <a  style =" color: #949394; font: Helvetica Normal regular; font-size: 16px">Reporting <b>&or;</b></a>

            </div>
            <div  class="col-md-2">
               <a  class="dropdown"  data-toggle="dropdown" style =" color: #949394; font: Helvetica Normal regular; font-size: 16px">Administration <b>&or;</b></a>
              <ul class="dropdown-menu">
        <li><a href="#custom_attribute">Setting-->Custom Attributes</a><br/></li>
      </ul>	

			   

	
            </div>
            <div class="col-md-3"></div>
            <div  class="col-md-3">
               <div align="center" class="col-md-4" style="background-color: #5392ff; color:white; margin-right: 2px;margin-left: 34px; font: Helvetica Normal regular; font-size: 14px;">
               Job Listing<br/>
              

            </div>
            <div align="center" class="col-md-4" style="background-color: #5392ff; color:white; margin-left: 9px;font: Helvetica Normal regular; font-size: 14px;">
               Planning <b>&or;</b>
            </div>
            </div>
          </div>
          </div>
          </div>
