/*------------------------------------------------------Start: Container CSS------------------------------------------------*/
body {
	background-color: #F2F2F2;
}

#container {
    padding-top: 44px;
}

#container-middle {
	margin-bottom: 70px;
}
.complaint-date{
    font-size: 18px;
    position: relative;
    left: 4.2%;
}
.complaint-row {
	padding-top: 2px;
	color: #4C4C4C;
	margin-top: 9px;
}

.complaint-row_Heading {
	left: 16px;
	font-family: 'Helvetica Light', 'Helvetica';
	font-size: 20px;
	line-height: 30px;
}

.complaint-row_Discription {
	font-family: 'Helvetica';
	line-height: normal;
	margin-top: 6px;
	margin-bottom: 19px;
}

.section-left {
	background-color: #FFFFFF;
	width: 100%;
	padding: 4px 7px 4px 7px;
	box-shadow: 0px 1px 3px #AAA;
}

.cmp_navigation_back {
	height: 44px;
}