<div class="container" style="text-align:left">
  <div ng-if="globals.currentUser.username && globals.currentUser.role !== 'SCOPE+ Admin'" style="float:right;width:500px;text-align:right;">
    <a  style="font: Helvetica neue regular;font-size:14px;color:#5392ff; margin-right: 3%; ">{{globals.currentUser.username}}&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="font-size:10px"></span> </a>
    <a style="font: Helvetica neue regular;color: #949394; font-size:14px; margin-right: 3%; " ng-if="globals.currentUser.role !== ''">{{globals.currentUser.role}}</a>
    <a style="font: Helvetica neue regular;color: #949394; font-size:14px; margin-right: 3%; " ng-if="!globals.currentUser.role">Architect</a>
    <a  href="javascript:void(0);" ng-click="logout()" style="font: Helvetica neue regular;color: #949394; font-size:14px;text-align: right !important; margin-right: 2%; ">Logout</a>
  </div>
    <div class="row main">

      <div class="main-login main-center">
      <h2><b>Forgot Password Page</b></h2>
      <div ng-show="error" class="alert alert-danger">{{error}}</div>
      <!--<div ng-show="registerSuccess">Do you want to register one more user ? <a href="#/register">Yes</a> | <a href="#/index">No</a></div>-->
        <!--<p>
        Please register new user with valid information.
      </p>-->
    <div class="ibm-two-column" style="height:280px;overflow:visible">
      <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

        <div class="form-group col-md-12" id="userNameForm">
                  <form class="form-horizontal" name="form" id="form"  role="form" ng-submit="validateUser()">
                  <!--<label for="username" class="cols-sm-2 control-label">Username:</label>-->
                  <div class="col-md-12">
                    <label for="username" class="cols-sm-2 control-label">User Name<span style="color:red">*</span></label>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="username" id="username" ng-model="username" placeholder="User Name"  required/>
                          <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                      </div>
                        <button type="submit" class="btn-lg btn-block login-button" ng-disabled="dataLoading" class="btn btn-danger">Submit</button>
                  </div>

                </form>
            </div>
              <div id="QAForm" style="display:none">
                <form class="form-horizontal" name="form" role="form" ng-submit="validateQA()">
                <div class="form-group">
                <b style="font-size:16px">&nbsp;&nbsp;&nbsp;  Hi {{username}},</b>
                  <div class="col-md-12"><br/>
                    <label for="password" class="cols-sm-2 control-label">Security Question:<span style="color:red">*</span></label>
                      <div class="input-group">
                        {{securityQuestion}}

                          <!--<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="password" id="password" ng-model="password" placeholder="Enter New Password"  required/>-->
                          <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                      </div>
                  </div>
                  <div class="col-md-12"><br/>
                    <label for="password" class="cols-sm-2 control-label">Security Answer:<span style="color:red">*</span></label>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="answer" id="answer" ng-model="answer" placeholder="Enter Security Answer"  required/>
                          <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn-lg btn-block login-button" ng-disabled="dataLoading" class="btn btn-danger">Submit</button>
            </form>
            </div>
            <div id="passwordForm" style="display:none">
              <b style="font-size:16px">  Hi {{username}},</b>
              <form class="form-horizontal" name="form" role="form" ng-submit="setPassword()">
                <div class="form-group">

                  <div class="col-md-5">
                      <label for="username" class="cols-sm-2 control-label">New Password:<span style="color:red">*</span></label>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="password" id="password" ng-model="password" placeholder="Enter Password"  required/>
                          <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                      </div>
                  </div>
                  <div class="col-md-5" style="margin-left:20px">
                      <label for="phone" class="cols-sm-2 control-label">Confirm Password:<span style="color:red">*</span></label>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" ng-model="confirmpassword" placeholder="Enter Confirm Password"  required/>
                          <!--<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn-lg btn-block login-button" ng-disabled="dataLoading" class="btn btn-danger">Set New Password</button>
              </form>
              </div>
              <table border="0">
                <tbody>
                <tr>
                  <td align="left" width="80%">
                    <br/>
                  <a href="#/login" style="font-size: 14px;">Back to Login</a> <!--| <a href="#/register" style="font-size: 14px;">New User?</a>-->
                  </td>
                </tr>
                </tbody>
              </table>
</div>
</div>
</div>
</div>

 <style>
    body, html{
        height: 100%;
        background-repeat: no-repeat;
        background-color: #d3d3d3;
        font-family: 'Oxygen', sans-serif;
    }

    .main{
        margin-top: 70px;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
    }

    hr{
        width: 10%;
        color: #fff;
    }

    .form-group{
        margin-bottom: 15px;
    }

    label{
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login{
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    }

    .main-center{
        margin-top: 30px;
        margin: 0 auto;
        /*max-width: 330px;*/
        /*max-width: 422px;*/
        max-width: 550px;
        padding: 40px 40px;
        /*height: 372px;*/
    }

    .login-button{
        margin-top: 5px;
    }


</style>
