<!DOCTYPE html>
<html>
<head>
<script src="../js/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/SourceView.css">
</head>
<body>
<div style="width: 100%; background-color: black">
<table style="color: white"></table>
<tr>
 <a href="./"> <img alt="" src="../img/home.png"></img></a>
<td><a style="color: white ; font-size:13px;">Back</a></td> &nbsp;
<td><a style="color: white; font-size:13px;">Forward</a></td>  &nbsp;
<td><a style="color: white; font-size:13px;">Job List</a> </td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<td><a style="color: white; font-size:36px; margin: 1000 cm;">Source View</a></td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<td>
<a style="color: white; font-size:13px;">User : Admin</a></br>
<a style="color: white; font-size:13px;">Privelege Set: BB Admin </a></br>
<a style="color: white; font-size:13px;">Client</a>
</td>

<td></td>

<td></td>
</tr>

</div>
</body>
</html>