<div class="container" style="background-color: #ffffff;border: 2px solid #ececec;">
    <div class="row">
 <div class="col-md-10 col-md-offset-1" style="margin-top: 1%;">
     <div class="col-md-2">
         <img width="54%" src="img/ibmLogo.png" >
     </div>
     <div class="col-md-10" >
         <div class="col-md-5"></div>
         <div class="col-md-7" style="text-align: right !important;">
         <!--<div class="col-md-1">-->
             <img alt="" src="img/loginLogo.png" class="img-circle" style="margin-left: -3%;">
         <!--</div>-->
         <!--<div class="col-md-2">-->
             <a  style="color:#5392ff; font-size:14px;margin-left: 3%;margin-right: 3%; ">{{globals.currentUser.username}} <b>&or;</b> </a>
         <!--</div>-->
         <!--<div class="col-md-1">-->
             <a style="color: #949394; font-size:14px; margin-right: 3%; ">Architect</a>
        <!-- </div>-->
         <!--<div class="col-md-2" style="text-align: right !important;">-->
             <a href="#logout#/" style="color: #5392ff; font-size:14px;text-align: right !important; margin-right: 5%; ">Logout</a>
         <!--</div>-->
         <!--<div class="col-md-1">-->
             <img alt="" src="img/menuicon.png"  style="text-align:right !important;">
         <!--</div>-->
         </div>




     </div>
 </div>
    <div class="col-md-10 col-md-offset-1" style="margin-top: 2%;margin-bottom: 1%">
        <div class="col-md-6">
            <a href="index.html#/"> <img alt="" src="img/homeMenu.png"></a>
            <a  style =" color: #949394; font: Helvetica Normal regular; font-size: 16px ;margin-left: 5%;margin-right: 5%"><label>Import <b>&or;</b></label></a>
            <a  style =" color: #949394; font: Helvetica Normal regular; font-size: 16px ;margin-right: 5%"><label>Export <b>&or;</b></label></a>
            <a  style =" color: #949394; font: Helvetica Normal regular; font-size: 16px;margin-right: 5%"><label>Reporting <b>&or;</b></label></a>
            <a  class="dropdown"  data-toggle="dropdown" style =" color: #949394; font: Helvetica Normal regular; font-size: 16px"><label>Administration <b>&or;</b></label>
            <ul class="dropdown-menu">
                <li><a href="#custom_attribute">Setting&ndash;&gt;Custom Attributes</a><br/></li>
            </ul>
            </a>
        </div>
        <div class="col-md-6" style="text-align: right">
            <button type="button" class="btn" style="background-color: #5392ff;width: 25%; margin-right: 2%;   border-radius: 0px !important; color:white;border: none">Job Listing</button>
            <button type="button" class="btn" style="background-color: #5392ff; width: 25%;    border-radius: 0px !important; color:white;border: none">Planning<b>&or;</b></button>
        </div>
        
    </div>
</div>
</div>


