<!DOCTYPE html>
<html>
<head>
<script src="../js/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/SourceView.css">
</head>
<body>
<div style="width: 100%; background-color: black">
  <div class="container" ng-controller="landingController2">
         <div class="row" style="width: 100%;margin-top:1px; border-bottom: 1px solid black">
             <div class="col-md-3">
               <img src="img/ibmlogo.jpg" style=""/>
             </div>
             <div align="center" class="col-md-6">
               <a  style="color: black; font-size:36px; margin: 1000 cm; ">Source View</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
             </div>
             <div class="col-md-3">
               <img alt="" src="img/loginLogo.png">
                <a  style="color: black; font-size:13px;">Ashley Struat</a>&nbsp;&nbsp;
                <a style="color: black; font-size:13px;">Architect</a>&nbsp;&nbsp;
                <a  style="color: black; font-size:13px;">Read Only</a>
                <img alt="" src="img/menu.png">
             </div>
          </div>
         <br/>

</div>
</body>
</html>