
<div class="container" style="margin-top: 1%" >
  <div id="Modal_audit" class="modal" style="border-radius:0px;">
      <!-- Document Modal content -->
      <div class="modal-content">
          <div class="modal-header" style="background-color:#25477B">
              <span class="modal-close" ng-click ="close_Modal('Modal_audit')">&times;</span>
              <span>Audit</span>
          </div>
          <div class="modal-body">
              <p>Field Name :{{fieldnameCollector}}</p>
              <input type="text" ng-model="pkidCollector" ng-show="false">
              <p>Please Enter your Comments</p>
              <input type="text" class="form-control" ng-model="valueAuditDescription">
          </div>
          <div class="modal-footer">
              <button id="import_true" class="btn fontHelveticaNeue" ng-click="saveRationale(pkidCollector,valueAuditDescription)" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right;margin-top: 1%;cursor:pointer">Yes</button>
              <button id="import_close" class="btn fontHelveticaNeue" ng-click ="close_Modal('Modal_audit')" style="border-radius:0px;background-color: #666666;color:#FFFFFF;float: right; margin-right: 1%;margin-top: 1%;cursor:pointer">Cancel</button>
          </div>
      </div>
  </div>
         <div class="row">
             <div class="col-md-10 col-md-offset-1 component-outer" style="border: 1px solid #ccc;background-color: #fff">
                 <div class="col-md-12">
                 <div class="col-md-6">
                     <h4 class="fontHelvetica" style="padding-left:10px;padding-bottom:10px">
                       <span style="color: #5392FF;font-size: 24px;border-right: 1px solid #5392FF;">Audit &nbsp;</span> &nbsp;<span style="color:#949394;;font-size:15px;">Audit ><span ng-if="deviceID !='relationale'"> Field Audit</span><span ng-if="deviceID =='relationale'"> Rationale</span></span>
                     </h4>
                 </div>

                 </div>
<loading/>
                             <div class="col-md-12" >

                                 <div class="table-responsive" style="padding:10px">
                                     <table class="table table-bordered table-striped">
                                         <thead>
                                         <tr class="fontHelvetica" style="background-color:#25467A;color:#ffffff;font-size:15px;">
                                             <td style="border:1px solid #25467A;font-size:18px">CreatedOn</td>
                                             <td style="border:1px solid #25467A;font-size:18px">CreatedBy</td>
                                             <td style="border:1px solid #25467A;font-size:18px">Field Name</td>
                                             <td style="border:1px solid #25467A;font-size:18px">Original value</td>
                                             <td style="border:1px solid #25467A;font-size:18px">New Value</td>
                                             <td style="border:1px solid #25467A;font-size:18px">Trust Level</td>
                                             <td style="border:1px solid #25467A;font-size:18px">Data Source</td>
                                             <td ng-if="deviceID =='relationale'" style="border:1px solid #25467A;font-size:18px">Rationale</td>
                                             <td ng-if="deviceID =='relationale'" style="border:1px solid #25467A;font-size:18px">ADD Rationale</td>

                                           </tr>
                                         </thead>
                                         <tbody>

                                         <tr dir-paginate="d in auditdata  | filter:filterFn | itemsPerPage:recordsPP  " pagination-id="pageMsp" style="color:#666666 ">
                                             <td style="font-size:16px">{{d.createdon}}</td>
                                             <td style="font-size:16px">{{d.createdby}}</td>
                                             <td style="font-size:16px">{{d.fieldname}}</td>
                                             <td style="font-size:16px">{{d.orvalue}}</td>
                                             <td style="font-size:16px">{{d.nvalue}}</td>
                                            <td style="font-size:16px" wrap>{{d.trustlevel}}</td>
                                            <td style="font-size:16px" wrap>{{d.datasource}}</td>
                                            <td ng-if="deviceID =='relationale'" id= {{d.pkid}}>{{d.rationaleDesc}}</td>
                                            <td  ng-if="deviceID =='relationale'" style="border:1px solid #25467A;font-size:18px"><button ng-click =open_Audit(d.pkid,d.fieldname)>Add Rationale</button></td>

                                        </tr>
                                         </tbody>
                                     </table>
                                    <dir-pagination-controls pagination-id="pageMsp" data-num-pages="noOfPages" data-current-page="currentPage"  max-size="maxSize" class="Pagination"
                                                             max-size="5"
                                                             direction-links="true"
                                                             boundary-links="true" style="float:right;padding:0px;padding:0px;border-radius:0px;margin-top:0px;list-style:none" on-page-change="setPage(newPageNumber)">
                                    </dir-pagination-controls>
                                 </div>

                             </div>

                 </div>

             </div>
     </div>


 <!-- Add your site or application content here -->
 <div class="footer">
   <div class="container">
     <!-- <p><span class="glyphicon glyphicon-heart"></span> Project</p> -->
   </div>
 </div>
<script>
$(function () {
$('[data-toggle="tooltip"]').tooltip();
})
</script>


<style>

</style>
