<div class="container" style="margin-top: 1%" ng-controller="DocumentDevicesController">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 component-outer" style="border: 1px solid #ccc;background-color: #fff">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4 class="fontHelvetica" style="padding:10px"><span style="color: #5392FF;font-size: 24px;border-right: 1px solid #5392FF;">Documents &nbsp;</span> &nbsp;<span style="color:#949394;font-size:15px;">Documents</span></h4>
                </div>
                <div class="col-md-6" ng-if="roleBasedCanBeAssociated">
                    <button class="btn fontHelveticaNeue" ng-click ="otdtable12()" data-toggle="collapse" data-target="#demoDocs" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right;
                                margin-right: 1%;margin-top: 1%;cursor:pointer
                        margin-top: 1%;">DOCUMENT SELECTION</button>
                </div>
            </div>
            <ul id="demoDocs"  class="collapse border-outer parent-dp arrow_box " style="background-color: #fff !important;margin-right: 1%;padding-left: 15px !important;">
                <form name="docForm" enctype="multipart/form-data">
                <div class="clearfix">
                    <div class="form-group pull-left" style="width:60%;padding-top:10px">
                        <div class="input-group">
                            <input type="text" my-enter="searchDocument(filterTextNew.name)" class="form-control" id="documentnameVal" style="font-size:13px;height:26px;border-right: 0px;border-radius: 0px !important;" ng-model="filterTextNew.name" placeholder="Select a Document" ng-change="checkforEmpty()" aria-describedby="basic-addon1">
                            <span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:12px;">
                              <i class="fa fa-search" ng-click="searchDocument(filterTextNew.name)"></i></span>
                        </div>
                    </div>
                    <div class="input-group" style="width: 56%;margin-bottom: 2%">
                        <!--<select ng-model="selectedName" placeholder="Select a role" style="font-size:12px;margin-left: 2%;border: none;height: 26px;" ng-options="x for x in StakeHolderNames">
                          <option value="" >Select Document Type</option>
                        </select>-->
                        <select ng-model="documentType" id="documenttypeVal" placeholder="Select a Type" style="font-size:12px;margin-left: 5%;border: none;height: 26px;" ng-options="x for x in DocTypeNames">
                            <option value="" >Select Document Type</option>
                        </select>
                        <!--<input type="text" class="form-control" id="documenttypeVal" style="width:167px;margin-right:2px;font-size:13px;height:26px;border-right: 0px;border-radius: 0px !important;" ng-model="documentType" placeholder="Enter Document Type" aria-describedby="basic-addon1"/>-->
                        <!--<span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:12px;height:26px">
                          <i class="fa fa-search"></i></span>-->
                        <input ng-show="showAddBtn" type="submit"  id="submit" class="submitbtn"  ng-click="addNewDocument(filterTextNew.name,documentname,documentType)"  value="Add" style="cursor:pointer;border-radius: 0px;background-color: #5392FF;  color: #FFFFFF;margin-left: 2%"/>
                    </div><input type="file" id="fileinput" file-model="fileinput" onchange="angular.element(this).scope().doc_changed(this)" class="ng-hide"/>
                </div>
                    </form>
            </ul>
            <loading ng-show="documentSpinner"></loading>
            <div class="col-md-12">
                <div class="col-md-12 change_col" id="otd-table">
                    <div class="odth-sec clearfix" style="padding:10px;">
                        <div class="odths-form" style="width: 90%;float: left;">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" ng-model="search.name" class="form-control fontHelveticaNeue" style="font-size:14px;height:25px;border-right: 0px;box-shadow:none;border-radius: 0px"placeholder="Document Filter" aria-describedby="basic-addon1">
                                        <span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:11px;"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--div class="pull-right" style="width: 7%;text-align:center" >
                            <a href="javascript void(0);" data-toggle="tooltip" data-placement="top" title="Remove All"><i style="color: #949394 "class="fa fa-trash fa-lg" style="cursor:pointer"></i></a>
                        </div-->
                    </div>


                    <div class="table-responsive" style="padding:10px">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr class="fontHelvetica" style="background-color:#25467A;color:#ffffff;font-size:15px">
                                <td style="border:1px solid #25467A">&nbsp;</td>
                                <td style="border:1px solid #25467A" ng-if="roleBasedCanBeAssociated">&nbsp;</td>
                                <td style="border:1px solid #25467A;font-size:18px">Documents Name</td>
                                <td style="border:1px solid #25467A;font-size:18px">Documents Type</td>
                                <td style="border:1px solid #25467A;font-size:18px">Link</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="d in $parent.data.slice().reverse() | itemsPerPage:5| filter:search:strict" pagination-id="pageMsp" style="color:#666666 ">
                                <td style="text-align:center"><a><i class="fa fa-info-circle fa-lg" style="cursor:pointer"  ng-click="navigationOther(d.clustername,d.id,'documents')"></i></a></td>
                                <!--Suruchi Start- DisAssociation-->
								<td style="font-size:25px;color:#9B9A9B;cursor:pointer" ng-if="roleBasedCanBeAssociated"><i style="rotate:"class="glyphicon glyphicon-remove-circle" data-toggle="collapse" ng-confirm-click="Would you really like to Disassociate?" ng-click="disassociateDevicesToDevices(d.name,d.id)" style="cursor:pointer"></i></td>
								<!--Suruchi End- DisAssociation-->
								<td style="font-size:16px">{{d.name}}</td>
                                <td style="font-size:16px">{{d.documenttype}}</td>
                                <td style="font-size:16px"><a href="{{document_download_url}}/{{d.id}}" target="_blank">{{d.link}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul id="demoDetail" class="collapse border-outer parent-dp arrow_box " style="background-color: #ddd !important;margin-right: 1%;padding-left: 15px !important;position: absolute;margin-top: -15%;z-index:10000;margin-left: 20%;width: 76%;">
                            <div class="row">
                                <div class="col-md-6">
                                    <table style="margin-top: 10px">
                                        <tr ng-repeat="(key ,value) in deviceInfo track by $index">
                                            <td style="color: #5392ff">{{key|capitalize}}</td>
                                            <td>{{value}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </ul>

                        <!--div class="otd-table-4" style="float:left;color:#949394;font-size:15px;" ng-if="devicesCount || devicesCount>0"><br/>
                            {{recordStart}} - {{recordEnd}} Records Out of {{devicesCount}}
                        </div-->
                        <dir-pagination-controls pagination-id="pageMsp" data-num-pages="noOfPages" data-current-page="currentPage"  max-size="maxSize" class="Pagination"
                                                 max-size="6"
                                                 direction-links="true"
                                                 boundary-links="true" style="float:right;padding:0px;padding:0px;border-radius:0px;margin-top:0px;list-style:none">
                        </dir-pagination-controls>
                    </div>

                </div>
                <div class="otd-table-2"  id="otd-table-2" ng-show="otdtable2" style="margin-top: 4.3%">
                    <!--<form name="docForm" enctype="multipart/form-data">-->
                        <!--<div class="clearfix">
                            <div class="form-group pull-left" style="width:60%;padding-top:10px">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="documentnameVal" style="font-size:13px;height:26px;border-right: 0px;border-radius: 0px !important;" ng-model="filterTextNew.name" placeholder="Select a Document" ng-change="searchDocument(filterTextNew.name)" aria-describedby="basic-addon1">
                                    <span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:12px;">
                                      <i class="fa fa-search" ng-click="searchDocument(filterTextNew.name)"></i></span>
                                </div>
                            </div>
                            <div class="input-group" style="width: 56%;">
                                &lt;!&ndash;<select ng-model="selectedName" placeholder="Select a role" style="font-size:12px;margin-left: 2%;border: none;height: 26px;" ng-options="x for x in StakeHolderNames">
                                  <option value="" >Select Document Type</option>
                                </select>&ndash;&gt;
                                  <input type="text" class="form-control" id="documenttypeVal" style="width:150px;margin-right:2px;font-size:13px;height:26px;border-right: 0px;border-radius: 0px !important;" ng-model="documentType" placeholder="Enter Document Type" aria-describedby="basic-addon1"/>
        &lt;!&ndash;<span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:12px;height:26px">
          <i class="fa fa-search"></i></span>&ndash;&gt;
                                  <input type="submit"  id="submit" class="submitbtn" data-ng-disabled="!documentType" ng-click="addNewDocument(documentname,documentType)"  value="Add" style="cursor:pointer;border-radius: 0px;background-color: #5392FF;  color: #FFFFFF;"/>
                            </div><input type="file" id="fileinput" file-model="fileinput" onchange="angular.element(this).scope().doc_changed(this)" class="ng-hide"/>
                        </div>-->

                        <!--<div class="pull-right" style="width: 10%;text-align:center;" >
                              <a href="javascript void(0);" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-trash" ></i></a>
                          </div-->
                        <div class="table-responsive" style="padding-right:10px" ng-show="showRightTable">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>

                                    </thead>
                                    <tbody>

                                    <tr ng-if="filterTextNew.name == '*'" ng-repeat="sd in $parent.searchDocumentJson.slice().reverse()">
                                        <td width="3%"><input type="radio" name="documentName" value="{{sd.name}}" ng-model="doc" ng-change="documentChange(doc)"></input></td>
                                        <td style="font-size:16px">{{sd.name}}</td>
                                        <td style="font-size:16px">{{sd.documenttype}}</td>
                                        <td> <i ng-click="associateDocToLD(sd.id,sd.name,sd.PKID)"  class="fa fa-plus" style="color: #949394;width:26px;height:26px;line-height:26px;border-radius:100%;text-align:center;border:1px solid #949394;"/></td>
                                    </tr>

                                    <tr ng-if="filterTextNew.name !== '*'" ng-repeat="sd in $parent.searchDocumentJson.slice().reverse() ">
                                        <td width="3%"><input type="radio" name="documentName" value="{{sd.name}}" ng-model="doc" ng-change="documentChange(doc)"></input></td>
                                        <td style="font-size:16px">{{sd.name}}</td>
                                        <td style="font-size:16px">{{sd.documenttype}}</td>
                                        <td> <i ng-click="associateDocToLD(sd.id,sd.name,sd.PKID)"  class="fa fa-plus" style="color: #949394;width:26px;height:26px;line-height:26px;border-radius:100%;text-align:center;border:1px solid #949394;"/></td>
                                    </tr>

                                    </tbody>
                                </table>
                                <!-- The Modal -->
                                <div id="Modal_doc" class="modal">
                                    <!-- Document Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-close">&times;</span>
                                            <h4 style="color:black">Would you like to add a document  {{filterTextNew.name}} for document {{deviceName}}?</h4>
                                        </div>
                                        <div class="modal-body">

                                            <form name="myForm" novalidate>
                                                <div class="form-inline">

                                                    <div class="form-input-outer">
                                                        <h6>  Please Select File </h6>
                                                        <input type="file" ngf-select ng-model="picFile" name="file"
                                                               ngf-max-size="maxUploadSize" required
                                                               ngf-model-invalid="errorFile">
                                                        <i ng-show="myForm.file.$error.required">*required</i>
                                                        <i ng-show="myForm.file.$error.maxSize">File too large
                                                            {{errorFile.size / 1000000|number:1}}MB: max {{maxUploadSize}}</i>
                                <span class="progress" ng-show="picFile.progress >= 0">
                                  <div style="width:{{picFile.progress}}%"
                                       ng-bind="picFile.progress + '%'">
                                  </div>
                                </span>
                                                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                                    </div>

                                                    <div class="form-input-outer">
                                                        <h6>Please Enter Link</h6>
                                                        <div class="input-group">
                                                            <input type="text" name="link" style="border-radius:0px !important;width:100%;"  ng-model ="doclinkVal" class="form-control" placeholder="Enter Link Value">
                                                            
                                                        </div>
                                                    </div>

                                                    <div class="form-input-outer">
                                                        <h6>Please Enter Link Description</h6>
                                                        <div class="input-group">
                                                            <input type="text"  name="description" style="border-radius:0px !important;width:100%;"  ng-model ="doclinkdescVal" class="form-control" placeholder="Enter Link Description" >
                                                            
                                                        </div>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn fontHelveticaNeue " ng-disabled="!myForm.$valid"
											ng-confirm-click="Would you like to add a document <<{{filterTextNew.name}}>> for {{deviceName}}"
                                                    ng-click="uploadPic(picFile,filterTextNew.name,documentType)" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;font-size: 14px;line-height: 25px;padding: 4px 12px;margin-top: 2px;">Submit</button>

                                            <button id="doc_no" class="btn fontHelveticaNeue" ng-click ="docUpdateFalse('Modal_doc')" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;font-size: 14px;line-height: 25px;padding: 4px 12px;margin-top: 2px;">Close</button>
                                        </div>
                                        <!--</form>-->
                                    </div>

                                </div>

                                <!--Link Modal -->
                                <div id="Modal_link" class="modal">
                                    <!-- Document Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-close">&times;</span>
                                            <h2></h2>
                                        </div>
                                        <div class="modal-body">
                                            <p>Would you like to add a document link {{filterTextNew.name}} for document {{deviceName}}?</p>


                                        </div>
                                        <div class="modal-footer">

                                            <button id="link_close" class="btn fontHelveticaNeue" ng-click ="close_Modal('Modal_link')" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right; margin-right: 1%;margin-top: 1%;">Cancel</button>

                                            <button id="link_no" class="btn fontHelveticaNeue" ng-click ="docUpdateFalse('Modal_link')" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right;margin-right: 1%;margin-top: 1%;">No</button>
                                            <button id="link_yes" class="btn fontHelveticaNeue" ng-click ="docLinkTrue()" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right;margin-top: 1%;">Yes</button>
                                        </div>
                                    </div>

                                </div>

                                <div id="Modal_linkInput" class="modal">
                                    <!-- Document Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-close" ></span>
                                            <p id="err_msg" style="color:red"></p>
                                        </div>
                                        <div class="modal-body" >
                                            <div class="form-inline">
                                                <h5>Please Enter Link</h5>
                                                <div class="input-group">
                                                    <input type="text" ng-model ="doclinkVal" class="form-control" placeholder="Enter Link Value" style="width:100%;">

                                                </div>
                                                <h5>Please Enter Link Description</h5>
                                                <div class="input-group">
                                                    <input type="text" ng-model ="doclinkdescVal" class="form-control" placeholder="Enter Link Description" style="width:100%;">

                                                </div>
                                            </div>
                                        </div>
                                        <loading ng-show="docSpin"></loading>
                                        <div class="modal-footer">
                                            <button id="link_close" class="btn fontHelveticaNeue" ng-click ="close_Modal('Modal_linkInput')" style="border-radius:0px;background-color: #5392FF;color:#fff;float: right; margin-right: 1%;margin-top: 1%;">Cancel</button>
                                            <button id="link_submit" class="btn fontHelveticaNeue" ng-click ="docUpdateSumit()" style="border-radius:0px;background-color: #5392FF;color:#fff;float: right;margin-right: 1%;margin-top: 1%;">Submit</button>
                                        </div>
                                    </div>

                                </div>



                                <div id="Modal_msg" class="modal">
                                    <!-- Document Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="modal-close">&times;</span>
                                            <h2></h2>
                                        </div>
                                        <div class="modal-body">
                                            <p>Please select either a document or provide link information</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="link_close" class="btn fontHelveticaNeue" ng-click ="close_Modal('Modal_msg')" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right; margin-right: 1%;margin-top: 1%;">OK</button>

                                        </div>
                                    </div>

                                </div>
                                <!--Link Modal-->

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add your site or application content here -->
    <div class="footer">
        <div class="container">
            <!-- <p><span class="glyphicon glyphicon-heart"></span> Project</p> -->
        </div>
    </div>
    <style>
        .thumb {
            width: 24px;
            height: 24px;
            float: none;
            position: relative;
            top: 7px;
        }

        form .progress {
            line-height: 15px;
        }


        .progress {
            display: inline-block;
            width: 100px;
            border: 3px groove #CCC;
        }

        .progress div {
            font-size: smaller;
            background: orange;
            width: 0;
        }

        #Modal_doc .modal-body{
            padding: 0px 15px 12px;
        }

        .form-input-outer{
            margin: 15px 0px;
        }
        .form-input-outer h6{
            margin: 0px;
            font-size: 15px;
            line-height: 34px;
            font-weight: 400;
            color: #555;
        }
        #demoDocs{
            float: right;
            width: 33.5%;
            margin-top: 0;
            margin-bottom: 10px;
        }

    </style>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

    </script>
