<div class="container" style="background-color: #ececec;margin-top: 1%" ng-controller="StakeHolderDevicesController">
      <div class="row">
          <div class="col-md-10 col-md-offset-1 component-outer" style="background-color: #fff;padding-left: 15px !important;padding-right: 15px !important;">
              <div class="col-md-12">
                  <div class="col-md-6">
                      <h4 class="fontHelvetica" style="margin-left: 1%;"><span style="color: #5392FF;font-size: 24px;border-right: 1px solid #000;">Stackholders &nbsp;</span> &nbsp;<span style="color:#949394;font-size:15px;">Stackholders > Direct</span></h4>
                  </div>
                  <div class="col-md-6" ng-if="roleBasedCanBeAssociated">
                      <button class="btn fontHelveticaNeue" ng-click ="otdtable()" data-toggle="collapse" data-target="#demoStakeholder" style="border-radius:0px;background-color: #5392FF;color:#FFFFFF;float: right;
                                margin-right: 1%;
                        margin-top: 1%;">STAKEHOLDER SELECTION</button>
                  </div>
              </div>
              <ul id="demoStakeholder" class="collapse border-outer parent-dp arrow_box " style="background-color: #fff !important;margin-right: 1%;padding-left: 15px !important;">
                     <div class="clearfix" style="margin-top: 2%">
                      <div class="form-group pull-left" style="width: 44%;">
                          <div class="input-group">
                              <input type="text" my-enter="searchStakeHolder(filterTextNew.name)" class="form-control" id="stakeholdernameVal" style="font-size:13px;height:26px;border-right: 0px;border-radius: 0px !important;" ng-model="filterTextNew.name" placeholder="Select a Stakeholder" ng-change="checkforEmpty()" aria-describedby="basic-addon1">
                              <span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:10px;"><i class="fa fa-search" ng-click="searchStakeHolder(filterTextNew.name)"></i></span>
                          </div>

                          </div>
                      <div class="input-group" style="width: 50%;">
                          <select ng-model="selectedName" placeholder="Select a role" style="font-size:12px;margin-left: 5%;border: none;height: 26px;" ng-options="x for x in StakeHolderNames">
                              <option value="" >Select A Role</option>
                          </select>
                          <span> <input type="submit"  id="submit" class="submitbtn" data-ng-disabled="!selectedName" ng-click="associateStakeholder(selectedName,stakeholdername)"  value="Add"/></span>

                              <i ng-show="showadd" class="fa fa-plus" style="cursor:pointer; color: #949394;width:26px;height:26px;line-height:26px;border-radius:100%;text-align:center;border:1px solid #949394;margin-top: 1%;
    margin-left: 5%;" ng-click="addNewStakeholder(filterTextNew.name)"></i>

                      </div>

                     </div>
              </ul>
              <loading ng-show="stakeholderSpinner"></loading>
              <div class="col-md-12" style="padding:14px">
                  <div class="col-md-12 change_col" id="otd-table">
                      <div class="odth-sec clearfix" style="padding: 0px 0px 10px;">
                          <div class="odths-form" style="width: 90%;float: left;">
                              <div class="form-inline">
                                  <div class="form-group">
                                      <div class="input-group">
                                          <input type="text" class="form-control fontHelveticaNeue" style="font-size:14px;height:25px;border-right: 0px;box-shadow:none;border-radius:0px;"placeholder="Stakeholder Filter" aria-describedby="basic-addon1" ng-model="filterText.name">
                                          <span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:11px;"><i class="fa fa-search"></i></span>
                                      </div>

                                      <!--div class="input-group">
                                          <input type="text" id="stakeholdername" class="form-control fontHelveticaNeue"  ng-model="addStakeholder" style="font-size:14px;height:25px;box-shadow:none"  placeholder="Add a new Stakeholder" aria-describedby="basic-addon1">
                                      </div>
                                      <a ng-click="addNewStakeholder(addStakeholder)"><i class="fa fa-plus" style="cursor:pointer; color: #949394;width:26px;height:26px;line-height:26px;border-radius:100%;text-align:center;border:1px solid #949394"></i></a-->
                                  </div>
                              </div>
                          </div>
                          <!--<loading ng-show="stakeholderSpinner"></loading>-->
                          <!--div class="pull-right" style="width: 7%;text-align:center" >
                              <a href="javascript void(0);" data-toggle="tooltip" data-placement="top" title="Remove All"><i style="color: #949394 "class="fa fa-trash fa-lg" ></i></a>
                          </div-->
                      </div>
                      <div class="table-responsive" style="height: 500px;overflow-y: scroll">
                          <table class="table table-bordered table-striped" ng-controller="StakeHolderDevicesController">
                              <thead>
                              <tr class="fontHelvetica" style="background-color:#25467A;color:#ffffff;font-size:15px">
                                  <th></th>
                                  <th ng-if="roleBasedCanBeAssociated"></th>
                                  <td style="font-size:18px">Name</td>
                                  <td style="font-size:18px">Role</td>
                                  <td style="font-size:18px">Primary Contacts</td>
                                  <td style="font-size:18px">Telephone</td>
                                  <td style="font-size:18px">Email</td>

                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="d in data | filter:filterText" style="color:#666666 ">
                                  <td style="text-align:center"><a><i class="fa fa-info-circle fa-lg" ng-click="navigationOther(d.name,d.id,'stakeholders')"></i></a></td>
                                  <td style="font-size:25px;color:#9B9A9B;cursor:pointer" ng-if="roleBasedCanBeAssociated"><i style="rotate:"class="glyphicon glyphicon-remove-circle" data-toggle="collapse" ng-confirm-click="Would you really want to Disassciate ?" ng-click="disassociateDevicesToDevices(d.name,d.role)" style="cursor:pointer"></i></td>
                                  <td style="font-size:16px">{{d.name}}</td>
                                  <td style="font-size:16px">{{d.role}}</td>
                                  <td style="font-size:16px">{{d.primaryContact}}</td>
                                  <td style="font-size:16px">{{d.telephone}}</td>
                                  <td style="font-size:16px">{{d.email}}</td>

                              </tr>
                              </tbody>
                          </table>
                          <ul id="demoDetail" class="collapse border-outer parent-dp arrow_box " style="background-color: #ddd !important;margin-right: 1%;padding-left: 15px !important;position: absolute;z-index: 1000;margin-top: -60%;margin-left: 18%;width: 70%;">
                              <div class="row" style="overflow: auto;height: 250px !important;">
                                  <div class="col-md-6" style="padding-left: 15px !important;">
                                      <table style="margin-top: 10px">
                                          <tr ng-repeat="(key ,value) in deviceInfo track by $index">
                                              <td style="color: #5392ff">{{key|capitalize}}</td>
                                              <td>{{value}}</td>
                                          </tr>
                                      </table>
                                  </div>
                                  <div class="col-md-6"></div>

                              </div>
                          </ul>
                      </div>
                  </div>
                  <div class="otd-table-2"  id="otd-table-2" ng-show="otdtable2" style="padding-left: 15px !important;">
                      <!--<div class="clearfix">
                          <div class="form-group pull-left" style="width: 44%;">
                              <div class="input-group">
                                  <input type="text" class="form-control" id="stakeholdernameVal" style="font-size:13px;height:26px;border-right: 0px;border-radius: 0px !important;" ng-model="filterTextNew.name" placeholder="Select a Stakeholder" ng-change="searchStakeHolder(filterTextNew.name)" aria-describedby="basic-addon1">
                                  <span class="input-group-addon" id="basic-addon1" style="border-radius: 0px;background-color: #fff;font-size:10px;"><i class="fa fa-search" ng-click="searchStakeHolder(filterTextNew.name)"></i></span>
                              </div>
                          </div>
                          <div class="input-group" style="width: 50%;">
                              <select ng-model="selectedName" placeholder="Select a role" style="font-size:12px;margin-left: 5%;border: none;height: 26px;" ng-options="x for x in StakeHolderNames">
                                <option value="" >Select A Role</option>
                              </select>
                              <span> <input type="submit"  id="submit" class="submitbtn" data-ng-disabled="!selectedName" ng-click="associateStakeholder(selectedName,stakeholdername)"  value="Add"/></span>
                          </div>

                      </div>-->
                      <div class="table-responsive" style="height: 300px;margin-top: 10%;" ng-show="showRightTable">
                          <table class="table table-bordered table-striped">
                              <thead>
                              </thead>
                              <tbody>
                              <tr ng-if="filterTextNew.name == '*'" ng-repeat="data in $parent.searchResultJson">
                                  <td></td>
                                  <td style="font-size:16px"><input type="radio" name="stakeholder" value="{{data.name}}" ng-model="stake" ng-clickj="stakeChange(stake)">{{data.name}}</input></td>
                                  <td></td>
                                  <td></td>
                              </tr>
                              <tr ng-if="filterTextNew.name !== '*'" ng-repeat="data in $parent.searchResultJson" >
                                  <td></td>
                                  <td style="font-size:16px"><input type="radio" name="stakeholder" value="{{data.name}}" ng-model="stake" ng-click="stakeChange(stake)">{{data.name}}</input></td>
                                  <td></td>
                                  <td></td>
                              </tr>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- Add your site or application content here -->
    <div class="footer">
      <div class="container">
        <!-- <p><span class="glyphicon glyphicon-heart"></span> Project</p> -->
      </div>
    </div>

<style>
    .submitbtn{
        color: #FFF;
        background-color: #5392ff;
        border: none;
        margin-left: 8.5%;
        /* margin-top: 4%; */
        font-size: 14px;
        /*width: 21%;*/
        height: 29px;
    }
    .submitbtn[disabled] {
        background-color: 	#ADD8E6
    }
    #demoStakeholder{
        float: right;
        width: 35.5%;
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
